<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <title>Inicio</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include('partials/navigation') %>

    <div class="container">
      <div class="row mt-4">
        <!-- Crear estudiante -->
        <%- include('partials/crearStudent') %>
        <!-- tabla -->
        <%- include('partials/tablaStudents') %>
      </div>
    </div>
    
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- Edit Student Modal -->
    <%- include('partials/modalEdit') %>

    <!-- scripts -->
    <script>
      document.querySelectorAll(".btn-edit").forEach((btn) => {
        btn.addEventListener("click", (e) => {
          const tr = e.target.closest("tr");
          const studentId = tr.dataset.id;
          const studentName = tr.dataset.name;
          const studentRut = tr.dataset.rut;
          const studentCurso = tr.dataset.curso;
          const studentNivel = tr.dataset.nivel;

          // Completa el formulario del modal con los datos del estudiante
          const editId = document.getElementById("editId");
          editId.value = studentId;
          const editName = document.getElementById("editName");
          editName.value = studentName;
          const editRut = document.getElementById("editRut");
          editRut.value = studentRut;
          const editCurso = document.getElementById("editCurso");
          editCurso.value = studentCurso;
          const editNivel = document.getElementById("editNivel");
          editNivel.value = studentNivel;

          // Actualiza el action del formulario con el ID del estudiante que se está editando
          const editForm = document.getElementById("editForm");
          editForm.action = `/update/${studentId}`;

          // Muestra el modal
          const editModal = new bootstrap.Modal(
            document.getElementById("editStudentModal")
          );
          editModal.show();
        });
      });
    </script>
    <%- include('partials/scripts') %>
